.mainContent {
    padding: 2rem;
    border-radius: 0.625rem;
    background-color: rgb(253, 233, 202);
    display: flex;
    flex-direction: column; /* Ensure items stack vertically */
    align-items: center; /* Center items horizontally */
}

.itemCategories {
    width: 100%; /* Take full width of parent container */
    margin-bottom: 1rem;
}

.itemContainer {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    gap: 1rem; /* Gap between items */
    justify-content: center;
}

.menuItem {
    border: 1px solid #ccc;
    padding: 0.7rem;
    margin-bottom: 0.7rem;
    width: 100%; /* Take full width of item container */
}