/* Nav styles */
#stickyNavbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(139, 19, 3, 1);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    overflow: hidden;
}

.nav-content {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    flex-grow: 1;
    scrollbar-width: none;
    -ms-overflow-style: none; 
}

.nav-content::-webkit-scrollbar {
    display: none;
}

#stickyNavbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

#stickyNavbar li {
    margin-right: 1rem;
}

#stickyNavbar a {
    text-decoration: none;
    color: rgb(230, 223, 222);
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
    display: inline-block;
}

#stickyNavbar a:hover {
    background-color: rgb(221, 84, 66);
    color: white;
}

/* Arrow styles */
.arrow {
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.5rem;
    color: rgb(230, 223, 222);
    background-color: rgba(56, 11, 5, 0.37); 
    border: none;
    display: none;
    border-radius: 0.25rem;
    height: 100%;
}

.arrow:hover {
    background-color: rgb(221, 84, 66);
    color: white;
}

#arrowLeft {
    margin-right: 0.5rem;
}

#arrowRight {
    margin-left: 0.5rem;
}

#arrowLeft {
    margin-right: 0.5rem;
}

#arrowRight {
    margin-left: 0.5rem;
}

/*Main Content*/

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemCategories {
    width: 100%;
    margin-bottom: 1rem;
    background-color: rgba(255, 204, 128, 0.795);
    border-radius: 0.25rem;
}

.itemDetails {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
}

.itemCategories h2{
    text-align: center;
    background-color: rgb(139, 19, 3);
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.25rem;
}

.itemContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
}

.menuItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem;
    border: 1px solid #000000;
    background-color: rgb(248, 242, 242);
    margin-bottom: 0.7rem;
    margin-left: 2.5%;
    font-weight: bold;
}

.menuItem h3{
    margin: 1rem 0 1rem 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.menuItem p{
    margin: 0 0 1rem 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.itemDescription{
    color: grey;
    font: italic;
    font-weight: lighter;
    font-size: small;
}

.addToCartButton{
    display: flex;
    background-color: green;
    color: white;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    height: 2rem;
    padding: 1rem;
    border-radius: 0.25rem;
    border: none;
}

.addToCartButton:hover{
    background-color: rgb(40, 175, 40);
    color: white;
}