main {
    text-align: center;
}

.mainContent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

#logo {
    background-color: white;
    border-radius: 0.7rem;
}

#logo img {
    width: 20rem;
    height: auto;
}

.bookingForm {
    background-color: rgba(224, 209, 186, 0.897);
    padding: 3rem;
    border-radius: 0.625rem;
    box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: auto;
}

.bookingForm h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: rgb(109, 16, 16);
}

.bookingForm .form-row {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-gap: 1rem;
    align-items: center;
    margin-bottom: 1.5rem;
}

.bookingForm .form-row button[type="submit"] {
    background-color: rgb(119, 31, 28);
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    justify-self: center;
    grid-column: span 2; 
}

.bookingForm label {
    font-weight: bold;
    color: #631a1a;
    text-align: left;
    font-size: 1.2rem;
}

.bookingForm input[type="text"],
.bookingForm input[type="email"],
.bookingForm input[type="tel"],
.bookingForm input[type="date"],
.bookingForm input[type="time"],
.bookingForm input[type="number"],
.bookingForm textarea {
    padding: 0.75rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    width: 95%; 
    text-align: right;
}

.bookingForm textarea {
    resize: vertical;
    min-height: 6.25rem;
}

.bookingForm .error-message {
    grid-column: 2;
    font-size: 1rem;
    color: red;
    margin-top: 0.5rem;
    text-align: left;
}

.confirmation-content {
    background-color: rgba(224, 209, 186, 0.897);
    padding: 3rem;
    border-radius: 0.625rem;
    box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
    margin: auto;
    max-width: 90%;
}

.confirmation-content h2 {
    margin-bottom: 1.5rem;
    color: rgb(109, 16, 16);
}

.confirmation-content p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.reservation-details {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    padding: 1rem;
    justify-content: space-around;  
}

.reservation-details strong {
    font-weight: bold;
    color: rgb(109, 16, 16);
}

.reservation-details p {
    margin-bottom: 0.5rem;
}

.confirmation-content a {
    text-decoration: none;
    color: #631a1a;
    padding: 1rem;
    font-size: 1.2rem;
}

.confirmation-content a:hover {
    color: #885e5e;
}